body {
  margin: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

*,
::after,
::before {
  box-sizing: inherit;
}

::selection {
  color: #fff;
  background: #1b64fa;
}

figure {
  margin: 0 auto;
}

blockquote {
  margin: 0;
}

sup,
sub {
  line-height: 1em;
  font-size: 0.75em;
}

a {
  color: inherit;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: background-size;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background: inherit;
  cursor: pointer;
  padding: 0;
}

button,
[role='button'],
[type='button'],
[type='reset'],
[type='submit'] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-transform: inherit;
  color: inherit;
  text-align: left;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin: 0;

  &[disabled] {
    cursor: initial;
  }
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

select,
textarea {
  display: block;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin: 0;
  appearance: none;

  &::placeholder {
    opacity: 1;
  }
}

input {
  &[type='text'],
  &[type='email'],
  &[type='password'],
  &[type='tel'],
  &[type='search'] {
    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  &[type='number'] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }
}

select {
  cursor: pointer;

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  &::-ms-expand {
    display: none;
  }
}

textarea {
  resize: none;
}

img {
  object-fit: cover;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
}
