:root {
    --text-primary: #1A263D;
    --text-blue: #174B7C;
    --text-red: #BA3C39;

    --border-color: #F7F8F8;

    --button-radius: 1000px;
    --field-radius: 6px;

    --white: #ffffff;

    --dropdown-z-index: 2;
}
